@model ForgotPasswordModel
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from gambolthemes.net/html-items/cursus_main_demo/forgot_password.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 22 May 2023 11:59:58 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=9">
    <meta name="description" content="Gambolthemes">
    <meta name="author" content="Gambolthemes">
    <title>ArtisanELearningSystem - Forgot Password</title>

    <link rel="icon" type="image/png" href="images/fav.png">

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,500" rel="stylesheet">
    <link href="/curus/vendor/unicons-2.0.1/css/unicons.css" rel="stylesheet">
    <link href="/curus/css/vertical-responsive-menu.min.css" rel="stylesheet">
    <link href="/curus/css/style.css" rel="stylesheet">
    <link href="/curus/css/responsive.css" rel="stylesheet">
    <link href="/curus/css/night-mode.css" rel="stylesheet">

    <link href="/curus/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/curus/vendor/OwlCarousel/assets/owl.carousel.css" rel="stylesheet">
    <link href="/curus/vendor/OwlCarousel/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="/curus/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/curus/vendor/semantic/semantic.min.css">
</head>
<body class="sign_in_up_bg">

    <div class="container">
        <div class="row justify-content-lg-center justify-content-md-center">
            <div class="col-lg-12">
                <div class="main_logo25" id="logo">
                    <a href="#"><img src="/curus/images/logo.svg"></a>
                    <a href="#"><img class="logo-inverse" src="/curus/images/ct_logo.svg"></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-8">
                <div class="sign_form">
                    <h2>Request a Password Reset</h2>



                    <form method="post" asp-action="ForgotPassword">
                        
                        <div class="ui search focus mt-50">
                            @if (Model.Status == ForgotPasswordModel.ForgotPasswordStatus.Success)
                            {
                                <div class="alert alert-success" role="alert">
                                    An email has been sent to your email address with instructions on how to reset your password.
                                </div>
                            }
                            else if (Model.Status == ForgotPasswordModel.ForgotPasswordStatus.Error)
                            {
                                <div class="alert alert-danger" role="alert">
                                    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                                    {
                                        <div>@Model.ErrorMessage</div>
                                    }
                                </div>
                            }
                            <div class="ui left icon input swdh95">
                                <input class="prompt srch_explore" type="email" name="Input.Email" value="@Model.Input?.Email" id="id_email" required maxlength="64" placeholder="Email Address">
                                <i class="uil uil-envelope icon icon2"></i>
                            </div>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <button class="login-btn" type="submit">Reset Password</button>
                    </form>


                    <p class="mb-0 mt-30">Go Back <a asp-controller="Home" asp-action="SignIn">Sign In</a></p>
                </div>

                <div class="sign_footer"><img src="/curus/images/sign_logo.png">© 2023 <strong>ArtisanELearningSystem</strong>. All Rights Reserved.</div>
            </div>
        </div>
    </div>

    <script src="/curus/js/jquery-3.3.1.min.js"></script>
    <script src="/curus/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/curus/vendor/OwlCarousel/owl.carousel.js"></script>
    <script src="/curus/vendor/semantic/semantic.min.js"></script>
    <script src="/curus/js/custom.js"></script>
    <script src="/curus/js/night-mode.js"></script>
</body>

<!-- Mirrored from gambolthemes.net/html-items/cursus_main_demo/forgot_password.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 22 May 2023 11:59:58 GMT -->
</html>